[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sila2 = "*"
jinja2 = "*"
typer = "*"
numpy = "*"
opencv-python = "*"
pillow = "*"
harvesters = "*"
shapely = "*"
agar-station = {editable = true, path = "."}

[dev-packages]
setuptools = "*"
black = "*"
isort = "*"
flake8 = "*"
pyproject-flake8 = "*"

[requires]
python_version = "3.8"
